// // 믹스업
// @mixin flex(
//   $direction: row,
//   $justify: start,
//   $align: stretch,
//   $gap: 0,
//   $wrap: nowrap
// ) {
//   display: flex;
//   flex-direction: $direction;
//   justify-content: $justify;
//   align-items: $align;
//   gap: $gap;
//   flex-wrap: $wrap;
// }

// @mixin font($size, $weight: 400) {
//   font-size: $size;
//   font-weight: $weight;
// }

// // 변수
// $tag-color: #d7fa00;
// $gray: rgb(160, 160, 160);

// section {
//   @include flex($wrap: wrap, $gap: 20px);
//   padding: 20px 40px;
// }

// .header-container {
//   @include flex($justify: space-between, $align: center);
//   padding: 20px 20px;
//   background-color: black;
//   ul {
//     @include flex($justify: center, $align: center, $gap: 20px);
//     li {
//       @include font($size: 16px, $weight: 400);
//       list-style: none;
//     }
//   }
// }

// .content-container {
//   @include flex($direction: column, $align: flex-start, $gap: 5px);
//   img {
//     width: 300px;
//     border-radius: 10px;
//     margin-bottom: 3px;
//     min-height: 225px;
//   }
//   span {
//     @include font($size: 12px);
//     color: $tag-color;
//     border: 1px solid $tag-color;
//     padding: 4px 5px;
//     border-radius: 3px;
//   }
//   div {
//     @include font($size: 18px, $weight: 600);
//   }
//   p {
//     @include font($size: 12px);
//     color: $gray;
//   }
// }
